/* Color Palette: 17117 #08d9d6, #252a34, #ff2e63, #eaeaea */
body {
  font-family: 'Montserrat', sans-serif;
}

/* HEADINGS */
.title-heading {
  font-size: 3.5rem;
  font-weight: 900;
  /*black*/
}

.subtitle-heading {
  font-size: 2.5rem;
  font-weight: 700;
  /*bold*/
}

/* CONTAINERS */
.container-fluid {
  padding: 3% 15%;
}

/* SITE SECTIONS */
.colored-bg {
  background-color: #08d9d6;
  color: white;
}

.white-bg {
  background-color: white;
}

/* NAVIGATION BAR */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.nav-link:hover {
  color: white !important;
  font-size: 1.5rem;
  font-weight: 700;
}

/* Section List*/
.resume-section-icon {
  color: #ff2e63;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.resume-section-icon:hover {
  color: #08d9d6;
}

.resume-section-description {
  font-size: 1.0rem;
  color: grey;
}

#resume-sections {
  padding: 7% 5%;
  text-align: center;
}

/* Footer */
.copywright {
  font-size: 0.75rem;
  margin-bottom: 0;
  text-align: center;
}

#footer {
  margin-bottom: 0;
}

/* MESSAGE: FORM */
#message-form {
  text-align: center;
}

/*ABOUT: ABOUT*/
#about-engineer, #about-martial, #about-family {
  padding: 3% 25%
}

/*#about-martial {
  background-color: #ff2e63;
}*/
.warning {
  color: #ff2e63;
  font-weight: 900;
  text-align: center;
}
