html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #222427;
}

/***   NAVIGATION SECTION   ***/
#navigation {
  font-size: 1.2rem;
  margin: 0 0;
  padding: 0% 15%;
}

/*.navbar {
  padding: 0 0 4.5rem;
}*/

.navbar-brand {
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.0rem;
  font-weight: 500;
}

.nav-link:hover {
  color: white !important;
  font-size: 1.2rem;
  font-weight: 700;
}

/***   HEADER SECTION   ***/
#header{
  text-align: center;
  padding: 0% 15%;
}

#site-blurb {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;
}

/***   SITE PAGES SECTION   ***/
#site-pages {
  padding: 0% 15%;
  padding-bottom: 8%;
  text-align: center;
}

.site-pages-icon {
  color: #ed553b;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.site-pages-icon:hover {
  color: #222427;
  font-size: 6rem;
}

.site-pages-description {
  font-size: 1.0rem;
  color: grey;
  padding: 1% 5%;
  text-align: center;
}

.site-pages-link {
   color: #ed553b;
   font-size: 3rem;
}

.site-pages-link:hover {
   color: #222427;
   font-size: 4rem;

   text-decoration: none;
}

/***   FOOTER SECTION   ***/
.footer {
  font-size: 0.75rem;
  text-align: center;
  padding: 0;
}
#copywright {
  margin-bottom: 0;
}

/***   BACKGROUND COLORS   ***/
.feature-color-bg {
  background-color: #ed553b;
  color: white;
}

.accent-color-bg {
  background-color: #222427;
  color: white;
}

.white-bg {
  background-color: white;
  color: #222427;
}

.my-btn {
  background-color: #222427;
}

/***   HEADINGS   ***/
.title-heading {
  font-size: 3rem;
  font-weight: 900;
}

.subtitle-heading {
  font-size: 2.5rem;
  font-weight: 700;
}

.paragraph-heading {
  color: #ed553b;
  font-size: 2.5rem;
  font-weight: 700;
}

/***   CONTAINERS   ***/
.container-fluid {
  padding: 3% 15%;
}

/* MESSAGE: FORM */
#message-form {
  text-align: center;
}

/*ABOUT: ABOUT*/
#about-engineer, #about-martial, #about-family {
  padding: 3% 25%
}

.warning {
  color: #ff2e63;
  font-weight: 900;
  text-align: center;
}

/*** OTHER ***/
.text-link {
   color: #ed553b;
   /*font-size: 3rem;*/
}

.text-link:hover {
   color: #222427;
   font-size: 1.5rem;

   text-decoration: none;
}
